<full-calendar [options]="calendarOptions"></full-calendar>
<div class="flex items-center gap-4 mb-4 mt-4">
    <div class="flex items-center gap-2">
        <span class="w-4 h-4 inline-block bg-white border border-gray-300 rounded-sm"></span>
        <span class="text-sm text-gray-700">Disponible</span>
    </div>
    <div class="flex items-center gap-2">
        <span class="w-4 h-4 inline-block bg-red-600 rounded-sm"></span>
        <span class="text-sm text-gray-700">Réservé (Accepté)</span>
    </div>
    <div class="flex items-center gap-2">
        <span class="w-4 h-4 inline-block bg-yellow-300 rounded-sm"></span>
        <span class="text-sm text-gray-700">En attente</span>
    </div>
    
</div>