@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;

    font-size: 15px;
    /* Default is 16px; try 13px or 14px */

  }

  body {
    font-family: 'Inter', sans-serif;
    line-height: 1;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Playfair Display', serif;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
