.text-primary {
  color: #2563eb; /* Bleu Tailwind par exemple */
}

.bg-primary {
  background-color: #2563eb;
}

.bg-primary-dark:hover {
  background-color: #1e40af;
}


h2 {
  font-size: 3rem;
  font-weight: 900;
  color: #2563eb;
  /* Bleu vif */
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2::after {
  content: '';
  width: 140px;
  height: 5px;
  background: linear-gradient(90deg, #2563eb, #60a5fa);
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 0 12px #60a5fa;
  transition: width 0.4s ease;
}

h2:hover::after {
  width: 300px;
}
